@import url('https://cdn.jsdelivr.net/gh/toss/tossface@v1.6/dist/tossface.css');
@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

html,
body {
    margin: 0;
    padding: 0;

    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;

    font-family: "Wanted Sans Variable", sans-serif;
}

body {
    background: rgba(0, 0, 0, 0.6) url("/health/assets/img/background.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

main {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section h1 {
    color: white;
    text-align: center;
    font-weight: bolder;

    font-size: 2rem;
    margin-bottom: 35px;
}

section emoji {
    font-family: "Tossface";
}

section p {
    color: #d5d5d5;
    font-weight: 300;
    text-align: center;
    word-break: keep-all;
}

@media (max-width: 629px) {
    section h1 {
        font-size: 1.5rem;
    }

    section p {
        font-size: 0.8em;
    }
}
